<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">

  
    <style>
        #newest img {
        width: 100px;
        height: 100px;
    }
    .carousel-caption {
        text-align: start;
        left: 30px;
        right: 30px;
    }
    .carousel-item img {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
    .carousel-item img:hover {
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }
    .trending-item {
        position: relative;
        display: none;
    }
    .trending-caption {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .img-cont {
        overflow: hidden;
    }
    .img-cont:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .img-cont img {
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .img-cont1:hover img {
        -webkit-transform: scale(0.5);
        transform: scale(1.035);
    }
    .img-cont1 img {
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        
    }
    .card-group .card {
        flex: 0 1 auto;
        padding: 5px;
        border-color: transparent;
    }
    .carousel-item h3 {
        font-size: 1.25rem;
        /*h5 style*/
    }
    @media (min-width: 576px) {
        .carousel-item h3 {
            font-size: 1.75rem;
            /*h3 style*/
        }
    }
    @media (min-width: 768px) {
        .card-group .card {
            width: 50%;
        }
    }
    @media (min-width: 992px) {
        .card-group .card {
            width: 33.3333%;
        }

        .trending-item {
            display: block;
        }
    }
    #quick-contact ul {
                background: #f4f5f7;
                list-style-type: none;
                text-align: left;
                margin-left: 0px;
            
            }       
    #quick-contact li {
                display: inline;
                width: 120px;
                height: 40px;
                line-height: 40px;
                margin-right: 5px;
                
            }
    .quick-call a {
                color: #6c757d;
                margin-left: 20px;
                text-decoration: none;
                font-size: 17px;
                font-family:  sans-serif;
                float: left;
                white-space: nowrap;
        }
    .quick-email a {
                margin-left: 5%;
                color: #6c757d;
                float: left;
                text-decoration: none;
                font-size: 17px;
                font-family:  sans-serif;
        }
    .quick-login ,.quick-register {
        float: right;
    
    }
    .quick-login ,.quick-register {
        float: right;
    
    }
    .quick-account {
        float: right;
    
    }
    .quick-login a,.quick-register a{
        text-decoration: none;
        color: #6c757d;
        font-size: 17px;
        font-family:  sans-serif;
    }
    .quick-login a:hover,.quick-register a:hover,.quick-call a:hover,.quick-email a:hover{
        text-decoration: none;
        color: blue;
        
    }
    .content{
        z-index: initial;
    }
  a.link_same, a.link_bycat, a.link_top10,a.link_viewest ,a.link_newest,a.link_trend{
        text-decoration: none;
    }
     a.link_bycat h5:hover ,a.link_top10 h5:hover,a.link_newest h5:hover,a.link_viewest h5:hover  {
        color: #00a651;
    }
    a.link_same h5:hover{
         color: #00a651;
    }

    /*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}

/*==Style cho menu===*/
#menu ul {
  background: #162245;
  list-style-type: none;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 0.9rem;
 font-family: roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-weight: bold;
 z-index: -1;

}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-left: 0 !important;

}
#menu a:hover {
  background: #F1F1F1;
  color: rgb(236, 17, 17);
  margin-left: 0 !important;


}

/*==Dropdown Menu==*/
.sub-menu {
  display: none;
  position: absolute;
}
#menu li {
  position: initial;

  
}
#menu li:hover .sub-menu {
  display: block;

  
}
.sub-menu li {
  margin-left: 0 !important;
  display: inline-block;
  z-index: initial;


}


/*==Menu cấp 3==*/
.sub-menu > ul {
  display: none !important;
}
.avatar img{
    width: 250px;
    height: 250px;
    border-radius: 2%;
}
.about-page{
    margin: 2%;
}
.info-avatar h5{
    text-align: center;
    color: green;
    text-decoration: none;
    margin-top: 5%;
    margin-left:-10px;

}
.info-avatar p{
    text-align: center;
    margin-left:-15px;


}
 .avatar:hover img{
    	opacity: 0.5;
 }
.info-avatar a{
    text-decoration: none;
}
.our-team{
    margin-top: 5%;
}
 li{
   list-style-type: none;
}

.col-xs-12.col-sm-6.col-md-6 a{
    margin-left: 1%;
    text-decoration: none;
    color: black;
    

}
.form-selector-btn{
    margin-top: 2%;
    text-align: center;
}
#contact{
      z-index: initial;

}
.col-xs-12.col-sm-6.col-md-6 a:hover{
    color: orange;
}

/******************************************
CSS PHẦN CHO TRANG  LỖI 404 
******************************************/
.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 80%;
	background-color:whitesmoke;
	border: 1px solid #eee;
	text-align: center;
	margin: 30px auto;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #eaeaea;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	color: #0083c1;
	margin: 15px 0;
	font-style: normal;
}
a.button-back {
	border-radius: 50px;
	font-size: 16px;
	padding: 15px 25px;
	margin-top: 15px;
	background: #fed700;
	color: #333e48;
    font-weight: bold;
    text-decoration: none;
}
a.button-back:hover {
	background: #333e48;
	color: #fff;
}
/*THÊM XÍU HIỆU ỨNG CHO TRANG 404 THÊM XINH ĐỘNG*/
#animate-arrow {
	position: relative;
	top: 15px;
	left: 0px;
	animation: move 1s ease infinite;
	margin-top: 150px;
	color: red;
}
 @keyframes move {
 50% {
 bottom: 10px;
 top: 0px;
}
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.error_pagenotfound {
	width: 100%;
	border-radius: 0;
	margin: 25px auto;
	padding: 15px;
}
.error_pagenotfound em {
	line-height: none;
	margin-bottom: 10px;
}
}



    </style>
    {{{_sections.css}}}
    
</head>

<body>
    <div id="header">
        {{!-- <div class="jumbotron text-center mb-0 ">
            <div class="row">
            <h3>Welcom to deploy99</h3>
            <div><form class="form-inline search-form ml-auto mr-5" id="search-form" action="#">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="button" class="btn btn-dark" id="search-btn">
                        <i class="fas fa-search center-right"></i>
                    </button>
            
            </form></div>
            <div><ul class="navbar-nav ml-5">
            
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/login">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/register">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Register
                    </a>
                </li>
            </ul></div>
           
            </div>
            
        </div> --}}
        <!--logout -->
        <form id="frmLogout" action="/account/logout" method="POST"></form>
        <div id="quick-contact">
        <ul class="col-sm-12 col-md-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-xs-12 ">
                        <li class="quick-call"><a href="tel:0345870xxx">0345.870.xxx </a></li>
                        <li class="quick-email"><a href="mailto:cskh@deploy99.vn">cskh@deploy99.vn</a></li>
                    </div>
                    <div class="col-sm-5 col-md-6 col-xs-12 ">
                        {{#if lcIsAuthenticated}}
                        <li style="float: right;  width: auto;">
                            <!-- Nếu mà có session tài khoản đã đk thì hiện lên mục này.Còn không thì ẩn (tức logout ồi hay chưa đăng nhập) -->
                            <div class="btn-group">
                                <button type="button" style="height: 40px;margin-top:-1px" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    Xin chào {{lcAuthUser.username}}
                                </button>
                                <div class="dropdown-menu">
                        
                                    <a class="dropdown-item" href="/account/profile">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Proflie
                                    </a>
                                    {{#if permission}}
                                    <a class="dropdown-item" href="/account/advantage">
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                        Chức năng nâng cao
                                    </a>
                                    {{/if}}
                                    <div class="dropdown-divider"></div>
                        
                                    <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                                        <i class="fa fa-sign-out-alt"></i>
                                        Đăng xuất
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{else}}
                        <li class="quick-login"><a href="/account/login"><i class="fa fa-user-circle" aria-hidden="true"></i> Đăng
                                nhập</a></li>
                        <li class="quick-register"><a href="/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i>
                                Đăng ký</a></li>
                        {{/if}}
                    </div>
                </div>
            </div>
        </ul>
        </div>


        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-xs-12">
                                        <!-- Header Logo -->
                                        <div class="logo">
                                            <a title="e-commerce" href="/"> </a>
                                            <div class="form-group-row ">&nbsp;
                                                <a href="/" rel="home">
                                                    <img src="/img/logo.png"sizes="32x32" alt="thong-bo-chon-SEO" />
                                                </a>
                                            </div>
                                            &nbsp;
                                        </div>
                                        <!-- End Header Logo -->
                        </div>

                        <div class="col-sm-4 col-md-5 col-xs-12 mt-4">
                            <form class="form-inline search-form ml-auto mr-5" method="POST" id="search-form" action="/article/search">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="key" placeholder="Từ khóa tìm kiếm..">
                                </div>
                                <button type="submit" class="btn btn-dark ml-2" id="search-btn">
                                    <i class="fa fa-search center-right"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-4 col-xs-12 mt-4"><p  id="deploy99"></p>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
    {{!-- <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: #00558c;">
        <div class="container">
            <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item" id="home">
                        <a class="nav-link" style="color: white;" href="/"><i class="fa fa-home"
                                aria-hidden="true"></i> TRANG CHỦ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" style="color: white;" id="chungkhoan">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CHỨNG KHOÁN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item text-primary" href="#">Cổ phiếu top đầu</a>
                            <a class="dropdown-item text-primary" href="#">Xu hướng nhận định</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="color: white;" id="doanhnghiep">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DOANH NGHIỆP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item text-primary" href="#">Bất động sản</a>
                            <a class="dropdown-item text-primary" href="#">Doanh nghiệp niêm yết</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="color: white;" id="taichinh">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           TÀI CHÍNH
                        </a>
                        <div class="dropdown-menu " aria-labelledby="dropdownId">
                            <a class="dropdown-item text-primary" href="#">Ngân hàng hiện đại</a>
                            <a class="dropdown-item text-primary" href="#">Thương mại điện tử</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="form-inline search-form ml-auto mr-5" id="search-form" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="button" class="btn btn-dark" id="search-btn">
                    <i class="fas fa-search center-right"></i>
                </button>
            </form>
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/login">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/register">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Register
                    </a>
                </li>
            </ul>
            <!-- Subscriber -->
            <div id="subscriberNavItem" class="navbar-nav navbar-right d-none">
                <div class="dropdown" id="subscriberDropdownMenu">
                    <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right">
                        <span id="userName" class="dropdown-item-text"></span>
                        <a class="dropdown-item" href="#">Gia hạn</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                    </div>
                </div>
            </div>
            <!-- Editor -->
            <div id="editorNavItem" class="navbar-nav navbar-right d-none">
                <div class="dropdown" id="editorDropdownMenu">
                    <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right">
                        <span id="userName" class="dropdown-item-text"></span>
                        <a class="dropdown-item" href="#">Duyệt bài viết</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                    </div>
                </div>
            </div>
            <!-- Writer -->
            <div id="writerNavItem" class="navbar-nav navbar-right d-none">
                <div class="dropdown" id="writerDropdownMenu">
                    <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right">
                        <span id="userName" class="dropdown-item-text"></span>
                        <a class="dropdown-item" href="#">Đăng bài mới</a>
                        <a class="dropdown-item" href="#">Xem bài đã đăng</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                    </div>
                </div>
            </div>
            <!-- Administrator -->
            <div id="adminNavItem" class="navbar-nav navbar-right d-none">
                <div class="dropdown" id="adminDropdownMenu">
                    <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right">
                        <span id="userName" class="dropdown-item-text"></span>
                        <a class="dropdown-item" href="#">Quản lý chuyên mục</a>
                        <a class="dropdown-item" href="#">Quản lý nhân viên</a>
                        <a class="dropdown-item" href="#">Quản lý bài viết</a>
                        <a class="dropdown-item" href="#">Quản lý người dùng</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật thông tin</a>g</a>
                    </div>
                </div>
            </div>
        </div>
    </nav> --}}
    <div id="menu">
        <ul class="col-sm-12 col-md-12 col-xs-12">
            <div class="container">
                <div class="col-sm-4 col-md-12 col-xs-8">
                    <li><a href="/" id="home"><i class="fa fa-home" aria-hidden="true"></i><span
                                class="sr-only">(current)</span> TRANG CHỦ</a>
                    </li>
                    
                    <li><a href="/categories/chung-khoan" id="chungkhoan">CHỨNG KHOÁN</a>
                        <ul class="sub-menu">
                            <li><a href="/categories/chung-khoan/co-phieu-top-dau">Cổ phiếu top đầu</a></li>
                            <li><a href="/categories/chung-khoan/xu-huong-nhan-dinh">Xu hướng nhận định</a></li>
                        </ul>
                    </li>
                    <li><a href="/categories/doanh-nghiep" id="doanhnghiep">DOANH NGHIỆP</a>
                        <ul class="sub-menu">
                            <li><a href="/categories/doanh-nghiep/bat-dong-san">Bất động sản</a></li>
                            <li><a href="/categories/doanh-nghiep/doanh-nghiep-niem-yet">Doanh nghiệp niêm yết</a></li>
                        </ul>
                    </li>
                    <li><a href="/categories/tai-chinh" id="taichinh">TÀI CHÍNH</a>
                        <ul class="sub-menu">
                            <li><a href="/categories/tai-chinh/ngan-hang-dien-tu">Ngân hàng điện tử</a></li>
                            <li><a href="/categories/tai-chinh/thuong-mai-dien-tu">Thương mại điện tử</a></li>
                        </ul>
                    </li>
                    <li><a href="/about.html" id="about">LIÊN HỆ</a>
                    </li>
                    {{!-- <li><a href="contact.html" id="contact">LIÊN LẠC</a>
                </li> --}}
                </div>
            </div>
        </ul>
    
    </div>
    {{{body}}}
    <div class="jumbotron text-center mb-0" id="footer">
        © Copyright 2020, All rights reserved. Design by The deploy99
        <a id="back-to-top" style="float: right;" href="#" class="btn btn-info btn-md back-to-top" role="button"><i
                class="fa fa-eject"></i></a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        var today = new Date();
        var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date + ',Cập nhật lúc ' + time+' GMT+7';
        document.getElementById("deploy99").innerHTML = dateTime;
    </script>
    {{{_sections.js}}}
</body>

</html>