<div class="container">
    <div id="hot-article" class="my-5">
        <!-- NỔI BẬT -->
        <div class="h3">NỔI BẬT</div>
        <div class="row ">
            <div class="col-lg-8 pr-1">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="3000">
                                <img src="https://dummyimage.com/970x600/ff9626/fff" class="d-block w-100 lazyload"
                                    alt="...">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="./chung-khoan.html" class="badge badge-primary mr-3">Chứng Khoán</a>
                                        11/06/2020
                                    </h6>
                                    <a href="#" class="text-light">
                                        <h3>VIB lên kế hoạch năm 2020 sẽ niêm yết cổ phiếu trên sàn HOSE</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <img src="https://dummyimage.com/970x600/568/fff" class="d-block w-100 lazyload"
                                    alt="...">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="./chung-khoan.html" class="badge badge-primary mr-3">Chứng Khoán</a>
                                        11/06/2020
                                    </h6>
                                    <a href="#" class="text-light">
                                        <h3>Lãi suất VietABank mới nhất tháng 6/2020</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <img src="https://dummyimage.com/970x600/07ffac/fff" class="d-block w-100 lazyload"
                                    alt="...">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="./chung-khoan.html" class="badge badge-success mr-3">Doanh Nghiệp</a>
                                        11/06/2020
                                    </h6>
                                    <a href="#" class="text-light">
                                        <h3>MWG "bơm" thêm 3.800 tỉ đồng vốn cho Bách Hóa Xanh và Thế Giới Di Động</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-1 d-flex flex-column justify-content-between align-content-stretch">

                <div class="trending-item">
                    <img src="https://dummyimage.com/300x185/123456/fff" class="lazyload w-100" alt="">
                    <div class="trending-caption">
                        <h6 class="text-light font-weight-light">
                            <a href="#" class="badge badge-primary mr-3">Chứng Khoán</a>
                            11/06/2020
                        </h6>
                        <a href="#" class="text-light">
                            <h5>Dự báo giá cao su ngày 12/6: Tăng nhẹ</h5>
                        </a>
                    </div>
                </div>

                <div class="trending-item">
                    <img src="https://dummyimage.com/300x185/123456/fff" class="lazyload w-100" alt="">
                    <div class="trending-caption">
                        <h6 class="text-light font-weight-light">
                            <a href="#" class="badge badge-success mr-3">Doanh Nghiệp</a>
                            12/06/2020
                        </h6>
                        <a href="#" class="text-light">
                            <h5>Nhựa An Phát Xanh dự chi hàng chục tỷ đồng để sở hữu 10% vốn tại Nhựa - Bao bì Vinh</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">

        <div class="col-lg-4">
            <!-- MỚI NHẤT -->
            <div id="newest">
                <div class="h3">MỚI NHẤT</div>
                <ul class="list-group list-group-flush">
                    {{#each this.newlist }}
                    <li class="list-group-item">
                        <div class="media">
                            <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{ID}}-{{title}}"
                                class="align-self-center mr-3 lazyload" alt="...">
                            <div class="media-body align-self-center">
                                <a href="#" class="text-dark">
                                    <h6>{{title}}</h6>
                                </a>

                                <h6 class="card-subtitle mt-2 text-muted">
                                    <a href="./tai-chinh.html"
                                        class="badge badge-warning mr-3 sub-newest">{{c_Name}}-{{c_Large}}</a>
                                    <p class="mt-1" style="font-size: 14px;"><i class="fa fa-calendar-o"
                                            aria-hidden="true"></i>{{format_DOB public_date}}</p>

                                </h6>
                                <h6 class="card-subtitle mt-2 mr-1 text-muted">
                                    Tác giả: {{author}}
                                </h6>

                            </div>
                        </div>
                    </li>
                    {{/each}}


                    {{!-- <li class="list-group-item">
                        <div class="media">
                            <img src="https://dummyimage.com/200x200/000/fff"
                                class="align-self-center mr-3 lazyload" alt="...">
                            <div class="media-body align-self-center">
                                <a href="#" class="text-dark">
                                    <h6>Cổ phiếu HBC trần phiên thứ 3, thị giá nhân đôi kể từ đầu tháng 4</h6>
                                </a>

                                <h6 class="card-subtitle mt-2 text-muted">
                                    <a href="./chung-khoan.html" class="badge badge-primary mr-3">Chứng Khoán</a>
                                    12/06/2020
                                </h6>
                            </div>
                        </div>
                    </li> --}}


                </ul>
            </div>
        </div>

        <div class="col-lg-8">
            <!-- XEM NHIỀU -->
            <div id="most-viewed">
                <div class="h3">XEM NHIỀU</div>
                <div class="card mb-3">
                    {{#each bestlist}}
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 mb-2">
                            <div class="img-cont">
                                <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{ID}}-{{title}}" class="card-img lazyload" alt="...">
                            </div>
                        </div>
                        <div class="col-md-8 mt-2">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a href="./chung-khoan.html" class="badge badge-primary mr-3">{{c_Name}}-{{c_Large}}</a>
                                {{format_DOB public_date}}
                                </h6>
                                <a href="#" class="text-dark">
                                    <h5 class="card-title">{{title}}</h5>
                                </a>
                                <h6 class="card-subtitle mt-2 mr-1 text-muted">
                                    Tác giả: {{author}}
                                </h6>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- FIXME: Responsive -->
    <!-- TOP 10 CHUYÊN MỤC -->
    <div id="top-10" class="my-5">
        <div class="h3">TOP 10 CHUYÊN MỤC</div>

        <div class="card-group">
            <div class="card">
                <div class="img-cont">
                    <img src="https://dummyimage.com/647x400/111/fff" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="#" class="badge badge-warning mr-3">Tài Chính</a>
                        11/06/2020
                    </h6>
                    <a href="#" class="text-dark">
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nemo.
                        </h5>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="img-cont">
                    <img src="https://dummyimage.com/647x400/555/fff" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="#" class="badge badge-success mr-3">Doanh Nghiệp</a>
                        12/06/2020
                    </h6>
                    <a href="#" class="text-dark">
                        <h5 class="card-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                            quisquam?</h5>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="img-cont">
                    <img src="https://dummyimage.com/647x400/666/fff" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="#" class="badge badge-primary mr-3">Chứng khoán</a>
                        13/06/2020
                    </h6>
                    <a href="#" class="text-dark">
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>