<div class="container">
    <div id="hot-article" class="my-5">
        <!-- NỔI BẬT -->
        <div class="h3">NỔI BẬT</div>
        <div class="row ">
            <div class="col-lg-8 pr-1 ">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            {{!-- <div class="carousel-item active" data-interval="3000">
                                <img src="https://dummyimage.com/970x600/ff9626/fff" class="d-block w-100 lazyload"
                                    alt="...">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="./chung-khoan.html" class="badge badge-primary mr-3">Chứng Khoán</a>
                                        11/06/2020
                                    </h6>
                                    <a href="#" class="text-light">
                                        <h3>VIB lên kế hoạch năm 2020 sẽ niêm yết cổ phiếu trên sàn HOSE</h3>
                                    </a>
                                </div>
                            </div> --}}
                            {{#each bestlist1 }}
                            <div class="carousel-item active" data-interval="3000">
                                <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}"
                                    class="d-block w-100 lazyload" alt="..." style="width: 600px;height:600px">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="/categories/chung-khoan" class="badge badge-warning mr-3">{{c_Large}}</a>
                                    </h6>
                                    <a href="/article/{{c_alias}}/{{title_alias}}/" class="text-light link_trend">
                                        <h3 title="{{title}}">{{title}}</h3>
                                    </a>
                                    <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>
                                    <p class="text-light font-weight-light">Tác giả: {{author}}</p>
                                </div>
                            </div>
                            <div class="carousel-item " data-interval="3000">
                                <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}"
                                    class="d-block w-100 lazyload" alt="..." style="width: 600px;height:600px">
                                <div class="carousel-caption d-md-block">
                                    <h6 class="text-light font-weight-light">
                                        <a href="/categories/chung-khoan" class="badge badge-warning mr-3">{{c_Large}}</a>
                                        
                                    </h6>
                                    <a href="/article/{{c_alias}}/{{title_alias}}/" class="text-light link_trend">
                                        <h3 title="{{title}}">{{title}}</h3>
                                    </a>
                                    <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>
                                    <p class="text-light font-weight-light">Tác giả: {{author}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-1 d-flex flex-column justify-content-between align-content-stretch">

                <div class="trending-item">
                    {{#each bestlist2}}
                    <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}" class="d-block w-100 lazyload"
                        alt="..." style="width: 300px;height:300px">
                        <div class="trending-caption">
                            <h6 class="text-light font-weight-light">
                                <a href="/categories/doanh-nghiep" class="badge badge-success mr-3">{{c_Large}}</a>
                                {{format_DOB public_date}}
                            </h6>
                            <a href="/article/{{c_alias}}/{{title_alias}}" class="text-light link_trend">
                                <h5 title="{{title}}">{{title}}</h5>
                            </a>
                            
                            <p class="text-light font-weight-light">Tác giả: {{author}}</p>
                        </div>
                    {{/each}}
                   
                </div>

                <div class="trending-item mt-1">
                    {{#each bestlist3}}
                    <img src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}"
                        class="d-block w-100 lazyload" style="width: 300px;height:300px" alt="...">
                    <div class="trending-caption">
                        <h6 class="text-light font-weight-light ">
                            <a href="/categories/tai-chinh" class="badge badge-primary mr-3">{{c_Large}}</a>
                            {{format_DOB public_date}}
                        </h6>
                        <a href="/article/{{c_alias}}/{{title_alias}}" class="text-light link_trend">
                            <h5 title="{{title}}">{{title}}</h5>
                        </a>
                        <p class="text-light font-weight-light">Tác giả: {{author}}</p>
                    </div>
                    {{/each}}
                
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">

        <div class="col-lg-7">
            <!-- MỚI NHẤT -->
            <div id="newest">
                <div class="h3">MỚI NHẤT</div>
                <ul class="list-group list-group-flush">
                    {{#each this.newlist }}
                    <li class="list-group-item">
                        <div class="media ">
                            <img style="width: 280px;height:200px" src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}"
                                class="align-self-center mr-3 lazyload" alt="...">
                            <div class="media-body align-self-center">
                                <a href="/article/{{c_alias}}/{{title_alias}}" class="text-dark link_newest">
                                    <h5 title="{{title}}">{{title}}</h5>
                                </a>

                                <h6 class="card-subtitle mt-2 text-muted">
                                    <a href="/categories/{{tc_alias}}/{{c_alias}}"
                                        class="badge badge-warning mr-3 sub-newest">{{c_Large}}-{{c_Name}}</a>
                                    <p class="mt-1" style="font-size: 14px;"><i class="fa fa-clock-o" aria-hidden="true"></i>Ngày đăng: {{format_DOB public_date}}</p>

                                </h6>
                                <p>{{abstract}}</p>
                                <h6 class="card-subtitle mt-2 mr-1 text-muted">
                                    Tác giả: {{author}}
                                </h6>

                            </div>
                        </div>
                    </li>
                    {{/each}}


                    {{!-- <li class="list-group-item">
                        <div class="media">
                            <img src="https://dummyimage.com/200x200/000/fff"
                                class="align-self-center mr-3 lazyload" alt="...">
                            <div class="media-body align-self-center">
                                <a href="#" class="text-dark">
                                    <h6>Cổ phiếu HBC trần phiên thứ 3, thị giá nhân đôi kể từ đầu tháng 4</h6>
                                </a>

                                <h6 class="card-subtitle mt-2 text-muted">
                                    <a href="./chung-khoan.html" class="badge badge-primary mr-3">Chứng Khoán</a>
                                    12/06/2020
                                </h6>
                            </div>
                        </div>
                    </li> --}}


                </ul>
            </div>
        </div>

        <div class="col-lg-5">
            <!-- XEM NHIỀU -->
            <div id="most-viewed">
                <div class="h3">XEM NHIỀU</div>
                <div class="card mb-3">
                    {{#each viewestlist}}
                    <div class="row no-gutters align-items-center ">
                        <div class="col-md-5 mb-2">
                            <div class="img-cont ml-2">
                                <img style="width: 250px;height:150px" src="article/{{images}}" alt="{{ID}}-{{title}}" title="{{c_Name}}: {{id}}-{{title}}" class="card-img lazyload" alt="...">
                            </div>
                        </div>
                        <div class="col-md-7 mt-2">
                            <div class="card-body">
                                <a href="/article/{{c_alias}}/{{title_alias}}" class="text-dark link_viewest">
                                    <h5 class="card-title" title="{{title}}">{{title}}</h5>
                                </a>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a href="/categories/{{tc_alias}}/{{c_alias}}" class="badge badge-primary mr-3 ">{{c_Large}}-{{c_Name}}</a>
                                </h6>
                                <p>{{abstract}}</p>
                                <h6 class="card-subtitle mt-2 mr-1 text-muted">
                                    Tác giả: {{author}}  
                                 <p class="mt-2">Lược xem:{{views}}</p>
                                 <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>

                                </h6>
                            </div>
                        </div>
                        
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- FIXME: Responsive -->
    <!-- TOP 10 CHUYÊN MỤC -->
    <div id="top-10" class="my-5">
        <div class="h3">TOP 10 CHUYÊN MỤC</div>

        <div class="card-group">
            <!--chứng khoán-->
            
            <div class="card ">
                <h5 class="mb-5 text-danger">CHỨNG KHOÁN</h5>
                {{#each this.top10_chungkhoan}}
                <a href="/article/{{c_alias}}/{{title_alias}}" class="text-dark link_top10">
                    <h5 style="height:70px;" title="{{title}}" class="card-title">{{title}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="/categories/{{tc_alias}}/{{alias}}" class="badge badge-warning mr-3">{{c_Large}}</a>
                </h6>
                <div class="img-cont">
                    <img src="article/{{images}}" title="{{c_Name}}: {{id}}-{{title}}" style="width:300px ;height:250px" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body " style="height: 120px;">
                     <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>
                     <p class="card-subtitle mt-2 mr-1 text-muted">Tác giả: {{author}}</p>
                </div>
                {{/each}}
            </div>

            <div class="card ">
                <h5 class="mb-5 text-danger">DOANH NGHIỆP</h5>
                {{#each this.top10_doanhnghiep}}
                <a href="/article/{{c_alias}}/{{title_alias}}" class="text-dark link_top10">
                    <h5 style="height:70px;" title="{{title}}" class="card-title ">{{title}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="/categories/{{tc_alias}}/{{alias}}"  class="badge badge-success mr-3">{{c_Large}}</a>
                </h6>
                <div class="img-cont">
                    <img src="article/{{images}}"title="{{c_Name}}: {{id}}-{{title}}" style="width:300px ;height:250px" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body "style="height: 120px;">
                    <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>
                    <p class="card-subtitle mt-2 mr-1 text-muted">Tác giả: {{author}}</p>
                </div>
                {{/each}}
            </div>
            <div class="card ">
                <h5 class="mb-5 text-danger">TÀI CHÍNH</h5>
                {{#each this.top10_taichinh}}
                <a href="/article/{{c_alias}}/{{title_alias}}" class="text-dark link_top10">
                    <h5 style="height:70px;" title="{{title}}" class="card-title ">{{title}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="/categories/{{tc_alias}}/{{alias}}" class="badge badge-primary mr-3">{{c_Large}}</a>
                </h6>
                <div class="img-cont">
                    <img src="article/{{images}}"title="{{c_Name}}: {{id}}-{{title}}" style="width:300px ;height:250px" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body " style="height: 120px;">
                    <p class="card-subtitle mt-2 mr-1 text-muted">Ngày đăng: {{format_DOB public_date}}</p>
                    <p class="card-subtitle mt-2 mr-1 text-muted">Tác giả: {{author}}</p>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>