<div class="container justify-content-sm-center">
    <h3 style="text-align: center;" class="mb-5 text-danger">DANH SÁCH BÀI BÁO</h3>
    <table class="table table-hover table-striped table-responsive">
        <a class="btn btn-outline-success mb-2 " style="float:left;" href="/admin/article/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm bài
        </a>
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th style="min-width:150px;">Chuyên mục</th>
                <th style="min-width:150px;">Trạng thái</th>
                <th style="min-width:550px;">Tiêu đề</th>
                <th style="min-width:150px;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.list}}
            <tr class="text-primary">
                <td>{{id}}</td>
                <td>{{c_Name}}</td>
                <td>{{asts_name}}</td>
                <td>{{title}}</td>
                <td >
                    <div class="row">
                    <a class="btn btn-warning btn-sm mr-2" href="/admin/article/edit/{{id}}" role="button"
                        title="Chỉnh sửa">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                      <a class="btn btn-primary  btn-sm " href="/admin/article/details/{{id}}" role="button" title="Chi tiết">
                        <i class="fas fa-info-circle"></i>
                      </a>

                       <a class="btn btn-primary  btn-sm ml-2" href="#" role="button" title="Xuất bản">
                        <i class="fas fa-file-export"></i>
                      </a>
               
                    </div>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
