<div class="container mt-3">
    {{#each list }}
        
    
    <a href="#">
        <h3>Tên chuyên mục</h3>
    </a>
    <h2 class="display-4 font-weight-bold">{{title}}</h2>
    <div class="row">
        <div class="col">
            <div class="text-muted mb-3">Ngày đăng: {{format_DOB public_date}}</div>

            <!-- Nội dung chi tiết bài viết -->
            <div id="article-detail" class="my-3">
                <img src="/article/{{images}}" style="width:900px;height:400px" class="img-fluid">
                <div class="container-fuild">
                 {{{content}}}
                </div>
            </div>

            <!-- Danh sách các thẻ được gắn -->
            <h6 class="article-tags d-none d-sm-block">
                <i class="fas fa-tags mr-2"></i>
                <a href="#" class="badge badge-secondary">{{splitTitle tag }}&nbsp; x</a>
                <a href="#" class="badge badge-secondary">{{splitTitle1 tag }} &nbsp;x</a>
                <a href="#" class="badge badge-secondary">{{splitTitle2 tag }} &nbsp;x</a>
            </h6>
{{/each}}
            <!-- Khu vực bình luận -->
            <div class="comment-section bg-light w-100 p-3 my-3">
                <input type="text" class="form-control mb-3" style="width: initial;" id="txtName"
                    placeholder="Tên của bạn">
                <textarea class="form-control mb-3" rows="2" id="txtComment"
                    placeholder="Bạn nghĩ gì về tin này?"></textarea>
                <button type="button" class="btn btn-primary" id="comment-btn">Gửi bình luận</button>
            </div>

            <div class="comment-list">
                <h6>Ý kiến bạn đọc</h6>
                <ul class="list-group list-group-flush" id="comment-ul">
                    <li class="list-group-item">
                        <div class="font-weight-bold">Tên độc giả</div>
                        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero fuga quo, non
                            voluptates voluptas voluptatem id adipisci vero cupiditate, qui omnis molestias ducimus
                            cumque repudiandae error sit, culpa fugiat dolore!</div>
                        <div class="float-right text-muted">
                            21/04/2019
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Bài viết cùng chuyên mục -->
            <div id="same-category">
                <h3> BÀI VIẾT CÙNG CHUYÊN MỤC</h3>
                <ul class="list-group list-group-flush">
                    {{#each list5Art_same }}
                    <li class="list-group-item">
                      
                    <div class="row">
                        <div class="col-12">
                          <div class="img-cont1 mr-3 col-md-4">
                            <img src="/article/{{images}}" title="{{c_Name}}: {{id}}-{{title}}" 
                                style="width:350px;height:300px" class="float-left mr-2 lazyload"
                                alt="...">
                        </div>
                        
                            <div class="ml-5 col-md-12">
                                <a href="/article/details/{{c_ID}}/{{id}}" class="text-dark link_same">
                                    <h5 class="card-title " title="{{title}}">{{title}}</h5>
                                </a>
                            <h6 class="card-subtitle my-2 text-muted">
                                Ngày đăng: {{format_DOB public_date}}
                            </h6>
                            <div class="card-text d-none d-lg-block">
                                {{abstract}}
                            </div>
                            </div>
                        </div>
                    </div>
                        
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div> <!-- col-8-->
    </div>
</div>