{{#section 'css'}}
<style>
</style>
{{/section}}

{{#section 'js'}}
<script type="text/JavaScript">
    document.addEventListener('contextmenu', event => event.preventDefault());
    function disableselect(e){
        return false
    }
    function reEnable(){
        return true
    }
    document.onselectstart=new Function ("return false")
    if (window.sidebar){
        document.onmousedown=disableselect
        document.onclick=reEnable
    }

    $('#frmcomment').on('submit', function (e) {
            e.preventDefault();
            validate();
        })
        function validate(){
            const txtName = $('#txtName').val();
            const txtComment = $('#txtComment').val();
            const id = "{{{id}}}";
            var check = false;
            var d = new Date();
            if("{{{r_id}}}" != "1"){
                alert("Bình luận chỉ dành cho đọc giả. Vui lòng đăng nhập bằng tài khoản độc giả để bình luận");
                return false;
            }
            if(txtName == ""){
                alert('Tên người bình luận không được trống.');
                    return false;
            }
            if(txtComment == ""){
                alert('Nội dung bình luận không được trống.');
                    return false;
            }
            $.getJSON(`/article/is-available_comment?readerName=${txtName}&Content=${txtComment}&id=${id}`, function (data) {
                if (data) {
                     var day = d.getDate();
                 var month = parseInt(d.getMonth()) + 1;
                if(day < 10){
                    day = '0' + day;
                }
                if(month < 10){
                    month = '0' + month;
                }
                d = day + '-' + month  + '-' + d.getFullYear();
                $('#txtName').val("");
                $('#txtComment').val("");
                var str = '';
                str += "<li class='list-group-item'>"; str += "<div class='font-weight-bold'>" + txtName + "</div>";
                str += "<div>"+ txtComment + "</div>"; str += "<div class='float-right text-muted'>";
                str += "Ngày đăng:" + d + "</div>"; str += "</li>";
                $("#comment-ul").append(str);
                return false;
                    
                } else {
                    alert('luu db thât bại');
                    return false;
                }
            })
            if(check){
               
            }
        }

</script>
{{/section}}

{{#if isnopre}}

{{else}}
  <div style="position: absolute;z-index:1; margin-left: 20%; margin-top:7%;">
    <div style="width:800px; height:400px;;background-image: url('https://i.pinimg.com/736x/79/e5/0c/79e50c3e8ee565dad09ac0ef222da854.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
      <p style="color: gold; font-size:25px; text-align:center; padding-top:255px">Bài viết chỉ được xem khi bạn nâng cấp tài khoản nên vip</p>
      <a href="/account/profile/vip" style="text-align: center;margin-left:43%; background-color:#FFD700" class="btn btn-primary">
      <i class="fa fa-crown"></i>
        <span style="color: white; font-weight:bold; font-size:18px">Nạp vip</span>
      </a>
    </div>
   
</div>

{{/if}}

<div id="pageaticle" class="container mt-3" {{#if isnopre}} {{else}}style="filter: blur(5px); " {{/if}}>
  

    {{#each list }}
        
    <h2 class="display-4 font-weight-bold">{{title}}</h2>
    <div class="row">
        <div class="col">
            <div class="text-muted mb-3">Ngày đăng: {{format_DOB public_date}}</div>

            <!-- Nội dung chi tiết bài viết -->
            <div id="article-detail" class="my-3">
                <img src="/article/{{images}}" style="width:900px;height:400px" class="img-fluid">
                <div class="container-fuild">
                 {{{content}}}
                </div>
            </div>

            <!-- Danh sách các thẻ được gắn -->
            <h6 class="article-tags d-none d-sm-block">
                <i class="fas fa-tags mr-2"></i>
                <span id="thetab">
                    
                </span>
                <script type="text/javascript">
                    var str = "{{{tag}}}";
                    str = str.split(';');
                    var temp="";
                    for(i = 0; i < str.length -1 ; i++){   
                        //tạo phần tử p    
                        var a = document.createElement("a");
                        a.className = "badge badge-secondary";
                        a.style=" margin-right:5px";
                        a.href = "/tags/{{{Name}}}";
                        a.innerText = str[i] + " x ";

                        var span = document.getElementById("thetab");
                        //gắn p vào div
                        span.appendChild(a)
                    }
                    console.log(temp);
                </script>
            </h6>
{{/each}}
            <!-- Khu vực bình luận -->
            <form id="frmcomment" method="POST" action="">   
            <div class="comment-section bg-light w-100 p-3 my-3">
                <input type="text" class="form-control mb-3" style="width: initial;" id="txtName"
                 name="readerName"    placeholder="Tên của bạn">
                <textarea class="form-control mb-3" rows="2" id="txtComment"
                  name="Content"  placeholder="Bạn nghĩ gì về tin này?"></textarea>
                <button type="submit" class="btn btn-primary" id="comment-btn">Gửi bình luận</button>
            </div>
            </form>
            <div class="comment-list">
                <h5>Ý kiến bạn đọc</h5>
                <ul class="list-group list-group-flush" id="comment-ul">
                    {{#each this.opinion}}
                    <li class="list-group-item">
                        <div class="font-weight-bold">{{readerName}}</div>
                        <div>{{Content}}</div>
                        <div class="float-right text-muted">
                        Ngày đăng: {{format_DOB created_at}}
                        </div>
                    </li>
                    {{/each}}
                  
                </ul>
            </div>

            <!-- Bài viết cùng chuyên mục -->
            <div id="same-category">
                <h3> BÀI VIẾT CÙNG CHUYÊN MỤC</h3>
                <ul class="list-group list-group-flush">
                    {{#each list5Art_same }}
                    <li class="list-group-item">
                      
                    <div class="row">
                        <div class="col-12">
                          <div class="img-cont1 mr-3 col-md-4">
                            <img src="/article/{{images}}" title="{{c_Name}}: {{id}}-{{title}}" 
                                style="width:350px;height:300px" class="float-left mr-2 lazyload"
                                alt="...">
                        </div>
                        
                            <div class="ml-5 col-md-12">
                                <a href="/article/{{c_alias}}/{{id}}/{{title_alias}}" class="text-dark link_same">
                                    <h5 class="card-title " title="{{title}}">{{title}}</h5>
                                </a>
                            <h6 class="card-subtitle my-2 text-muted">
                                Ngày đăng: {{format_DOB public_date}}
                            </h6>
                            <div class="card-text d-none d-lg-block">
                                {{abstract}}
                            </div>
                            </div>
                        </div>
                    </div>
                        
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div> <!-- col-8-->
    </div>
</div>
