<div class="container mb-5">
    <h3 style="text-align: center;" class="mb-5 text-danger">Trang quản lý chuyên mục cha</h3>
    <table class="table table-hover">
        <a class="btn btn-outline-success mb-2 " style="float:left;" href="/admin/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
           Thêm chuyên mục cha
        </a>
        
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Bí danh</th>
                <th>Thao tác</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each this.typeCat}}
            <tr class="text-primary">
                <td>{{ID}}</td>
                <td>{{tc_Name}}</td>
                <td>{{alias}}</td>
               
                <td>
                    <a class="btn btn-warning btn-sm" href="/admin/categories/edit/{{ID}}" role="button"
                        title="Edit Conference">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Chỉnh sửa
                    </a>
                    <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{ID}}" role="button" title="Edit Conference">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Chi tiết
                    </a>
                    {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a> --}}
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
<div class="container mb-5">
    <h3 style="text-align: center;" class="mb-5 text-danger">Trang quản lý chuyên mục con</h3>
    <table class="table table-hover">
        <a class="btn btn-outline-success mb-2 " style="float:left;" href="/admin/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm chuyên mục con
        </a>

        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Bí danh</th>
                <th>Thao tác</th>

            </tr>
        </thead>
        <tbody>
            {{#each this.Cat}}
            <tr class="text-primary">
                <td>{{ID}}</td>
                <td>{{c_Name}}</td>
                <td>{{c_alias}}</td>

                <td>
                    <a class="btn btn-warning btn-sm" href="/admin/categories/edit/{{ID}}" role="button"
                        title="Edit Conference">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Chỉnh sửa
                    </a>
                    <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{c_ID}}" role="button"
                        title="Edit Conference">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Chi tiết
                    </a>
                    {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a> --}}
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>