
<div class="container mb-5">
        <div class="dropdown dropright ml-3 mb-3 mt-3">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Các chuyên mục
            </button>
    
            <div class="dropdown-menu">
                {{#each lcCat}}
                <a href="/admin/categories/{{alias}}" style="text-align: center;"
                    class="list-group-item list-group-item-action  {{#if isActive}}active{{/if}}">
                    {{tc_Name}}&nbsp; <i class="fa fa-angle-double-right text-danger" aria-hidden="true"></i>
                </a>
                {{/each}}
            </div>
    
        </div>
    
</div>

<div class="container mb-5">
    <h3 style="text-align: center;" class="mb-5 text-danger">Quản lý chuyên mục con</h3>
    <table class="table table-hover table-bordered">
        <a class="btn btn-outline-success mb-2 " style="float:left;" href="/admin/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm chuyên mục con
        </a>

        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Bí danh</th>
                <th>Thao tác</th>

            </tr>
        </thead>
        <tbody>
            {{#each this.Cat}}
            <tr class="text-primary">
                <td>{{ID}}</td>
                <td>{{c_Name}}</td>
                <td>{{c_alias}}</td>

                <td>
                    <a class="btn btn-warning btn-sm" href="/admin/categories/edit/{{ID}}" role="button"
                        title="chỉnh sửa">
                        <i class="fas fa-wrench" aria-hidden="true"></i>
                        Sửa
                    </a>
                    <a class="btn btn-primary btn-sm" href="/admin/categories/details/{{ID}}" role="button"
                        title="chi tiết">
                        <i class="fas fa-eye"></i>
                        Chi tiết
                    </a>
                    {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a> --}}
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
