{{#section 'js'}}
<script>
    $(document).ready( function(){
        $("#BangTTSanPham").on("click", ".xuatban", function (event){
            var $row = $(this).closest("tr"); 
            $("#id").val( $row.find("#id_modal").text());
        });
    });

    $('#frmmodal').on('submit', function (e) {
            e.preventDefault();
            validate();
        })
        function validate(){
            const title_alias = $('#title_alias').val();
            if(title_alias == ""){
                alert("Đường dẫn bài viết không được trống.");
                return false;
            }
            $.getJSON(`/account/advantage/3/is-available?alias=${title_alias}`, function (data) {
                if (data) {
                    $('#frmmodal').off('submit').submit();
                } else {
                    alert('đường dẫn alias đã tồn tại');
                }
            })
        }
</script>

{{/section}}
<div class="container">
    <h3 style="text-align: center;" class="mb-3">Danh Sách Bài Viết</h3>
    <table class="table table-bordered text-center" id="BangTTSanPham">
    <thead>
        <tr>
        <th>Id</th>
        <th>Tiêu Đề</th>
        <th style="min-width:210px">Tình Trạng</th>
        <th style="min-width:150px">Ngày xuất bản</th>
        <th style="min-width:120px">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
            <tr>
                <th scope="row" id="id_modal">{{id}}</th>
                <td>{{title}}</td>
                <td>Đã được duyệt chờ xuất bản</td>
                <td>{{public_date}}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/account/advantage/3/category/{{c_ID}}/{{id}}" role="button" title="Xem">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button"{{#if duocxb}} {{else}}disabled {{/if}}  class="xuatban btn btn-primary" data-toggle="modal" title="Xuất bản" data-target="#exampleModal">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xuất Bản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-image: url('https://i.ytimg.com/vi/mubt_h9NRn4/maxresdefault.jpg'); background-position: right; background-size: cover;">
            <form method="POST" id="frmmodal">
                <div class="form-group">
                    <label  for="exampleInputEmail1" style="color: red; font-weight:bold">Id</label>
                    <input id="id" name="id" type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label style="color: red; font-weight:bold">Đường dẫn alias(đường dẫn vô bài viết)</label>
                    <textarea class="form-control" name="title_alias" id="title_alias" placeholder="dai-dich-co-vid-19-bat-nguon-tu-trung-quoc--..." rows="2" ></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="featured" name="featured">
                    <label class="form-check-label" for="exampleCheck1" style="color:green; font-weight:bold">Featured</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isPremium" name="isPremium" checked>
                    <label class="form-check-label" for="exampleCheck2" style="color:green; font-weight:bold">Premium</label>
                </div>
                <button type="submit" class="btn btn-primary">Xuất bản</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div
</div>
